<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qrscanner">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_qrbox"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_qrbox_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRscanner">
        <activity android:name=".Umain"></activity>
        <activity android:name=".QRCamUser" />
        <activity android:name=".QRCamDComplete" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ErrorPage"
            android:label="@string/title_activity_error_page"
            android:theme="@style/Theme.QRscanner.NoActionBar" />
        <activity android:name=".Join" />
        <activity android:name=".QRcamZxingInsert" />
        <activity android:name=".ReturnPage" />
        <activity android:name=".DeliveryPage" />
        <activity android:name=".Dmain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>